<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Update Penduduk</title>
		<div th:replace="fragments/fragment :: links"></div>
	</head>
	<body>
			<div th:replace="fragments/fragment :: header"></div>
				<div class="container-fluid text-center">    
				  <div class="row content">
				    <div class="col-sm-2">
				    </div>
		    <div class="col-sm-8 text-left">
		    <h1>Cari Penduduk</h1>
				<form action="/penduduk/cari" method="get">
					
					<div th:if="${flag_kt==true}">
						<h4><strong>Pilih Kota</strong></h4>
			            <select class="form-control" name="kt" th:value="${kt}" readonly="true">
  							<option th:value="${kt}" th:text="${kt_nama}"></option>
						</select>
        			</div>
        			<div th:unless="${flag_kt==true}">
        				<h4><strong>Pilih Kota</strong></h4>
        				<select class="form-control" name="kt">
  							<option th:each="kota,iterationStatus: ${list_kota}" th:value="${kota.id}" th:text="${kota.nama_kota}"></option>
						</select>
        			</div>
        			<div th:if="${flag_kc==true}">
        				<h4><strong>Pilih Kecamatan</strong></h4>
			            <select class="form-control" name="kc" th:value="${kc}" readonly="true">
  							<option th:value="${kc}" th:text="${kc_nama}"></option>
						</select>
        			</div>
        			<div th:unless="${flag_kc==true}">
        				<h4><strong>Pilih Kecamatan</strong></h4>
        				<select class="form-control" name="kc">
  							<option th:each="kecamatan,iterationStatus: ${list_kecamatan}" th:value="${kecamatan.id}" th:text="${kecamatan.nama_kecamatan}"></option>
						</select>
        			</div>
        			<div th:if="${flag_kl==true}">
        				<h4><strong>Pilih Kelurahan</strong></h4>
			            <select class="form-control" name="kl" th:value="${kl}" readonly="true">
  							<option th:value="${kl}" th:text="${kl_nama}"></option>
						</select>
        			</div>
        			<div th:unless="${flag_kl==true}">
        				<h4><strong>Pilih Kelurahan</strong></h4>
        				<select class="form-control" name="kl">
  							<option th:each="kelurahan,iterationStatus: ${list_kelurahan}" th:value="${kelurahan.id}" th:text="${kelurahan.nama_kelurahan}"></option>
						</select>
        			</div>
					<button type="submit">Submit</button>
				</form>
			</div>
			<div class="col-sm-2">
		    </div>
		  </div>
		</div>
	</body>
</html>
