<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Update Keluarga</title>
		<div th:replace="fragments/fragment :: links"></div>
	</head>
	<body>
			<div th:replace="fragments/fragment :: header"></div>
				<div class="container-fluid text-center">    
				  <div class="row content">
				    <div class="col-sm-2">
				    </div>
		    <div class="col-sm-8 text-left">
		    <div th:if="${flag == true}">
            	<h1>Sukses !</h1>
            	<p th:text="'Keluarga dengan NKK ' + ${nomor_kk} + ' berhasil diubah'">sukses</p>
        	</div>
		    <h1>Update Keluarga</h1>
			<form th:object="${alamat}" th:action="'/keluarga/ubah/' + ${nomor_kk}" method="post">
						<div class="form-group">
						    <label for="nama">Nomor Kartu Keluarga</label>
						    <input type="text" 
						    
						    class="form-control" id="nomor_kk" readonly="true" name="nomor_kk" th:value="${nomor_kk}"></input>
						</div>
						<div class="form-group">
						    <label for="alamat">Alamat</label>
						    <input type="text" class="form-control" id="alamat" name="alamat" th:value="${alamat.alamat}"></input>
						</div>
						<div class="form-group">
						    <label for="rt">RT</label>
						    <input type="text" class="form-control" id="rt" name="rt" th:value="${alamat.rt}"></input>
						</div>
						<div class="form-group">
						    <label for="rw">RW</label>
						    <input type="text" class="form-control" id="rw" name="rw" th:value="${alamat.rw}"></input>
						</div>
						<div class="form-group">
						    <label for="kelurahan">Kelurahan/Desa</label>
						    <select class="form-control" name="id_kelurahan">
  								<option th:selected="${kelurahan.id >= alamat.id_kelurahan}" th:each="kelurahan,iterationStatus: ${list_kelurahan}" th:value="${kelurahan.id}" th:text="${kelurahan.nama_kelurahan}"></option>
							</select>
						</div>
						<div class="form-group">
						    <label for="kecamatan">Kecamatan</label>
						    <select class="form-control" name="id_kecamatan">
  								<option th:selected="${kecamatan.id >= alamat.id_kecamatan}" th:each="kecamatan,iterationStatus: ${list_kecamatan}" th:value="${kecamatan.id}" th:text="${kecamatan.nama_kecamatan}"></option>
							</select>
						</div>
						<div class="form-group">
						    <label for="kota">Kota</label>
						    <select class="form-control" name="nama_kota">
  								<option th:selected="${kota.nama_kota >= alamat.kota}" th:each="kota,iterationStatus: ${list_kota}" th:value="${kota.id}" th:text="${kota.nama_kota}"></option>
							</select>
						</div>
						<label for="kota">Keberlakuan KK</label>
						<select class="form-control" name="is_tidak_berlaku" th:value="${is_tidak_berlaku}">
  									<option value="0" >Berlaku</option>
  									<option value="1" >Tidak Berlaku</option>
						</select>
						<input type="hidden" name="nomor_kk_lama" th:value="${nomor_kk}"></input>
						<input type="hidden" name="id_kecamatan_lama" th:value="${alamat.id_kecamatan}"></input>
						<input type="hidden" name="id_kelurahan_lama" th:value="${alamat.id_kelurahan}"></input>
						<input type="hidden" name="nama_kota_lama" th:value="${alamat.kota}"></input>
					<button type="submit" name="action" value="update">Ubah</button>
			</form>
			</div>
			<div class="col-sm-2">
		    </div>
		  </div>
		</div>
	</body>
</html>
